:root {
  --primary: #282828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  color: var(--primary);
}

button {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* Element | http://localhost:3000/ */

.feed-scroll {
  max-height: 90vh;
  overflow-y: scroll;
  background: grey;
  padding: 10px;
}

/* Element | http://localhost:3000/ */

.feed-left {
  width: 50%;
  border: 1px solid black;
}

/* Inline #1 | http://localhost:3000/ */

.feed {
  background: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.feed-description-holder > p {
  font-style: italic;
}
